body
{
font-family:Courier;
animation:bg 6s, hideheads 6s;
background-color:black;
color:white;
line-height:30px;
font-weight:bold;
letter-spacing:-0.5px;
text-align:center;
}

.h1
{font-size:52px;
color:#5cf442;
animation:flash 3s;
animation-delay:6s;
animation-iteration-count:3;
}

.h2
{font-size:42px;
text-align:center;
text-decoration:underline;
color:#42f456;
}

.h3
{font-size:35px;
text-align:center;
color:#f44242;
}

.p
{font-size:25px;
}

@keyframes bg
{0%
{background-image:url(https://media1.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
background-repeat:no-repeat;
background-size:cover;
color:  rgba(0, 0, 0, 0);}
50%
{background-image:url(https://media1.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
background-repeat:no-repeat;
background-size:cover;
color:  rgba(0, 0, 0, 0);}
75%
{background-color:black;
color:  rgba(0, 0, 0, 0);
visibility:hidden;
}
95%
{background-color:black;
color: rgba(0, 0, 0, 0);
visibility:hidden;
}
100%
{background-color:black;
color: rgba(0, 0, 0, 0);
visibility:hidden;
}
}

@keyframes hideheads
{0%
{color:rgba(0, 0, 0, 0);
visibility:hidden;
}
90%
{color:rgba(0, 0, 0, 0);
visibility:hidden;
}
100%
{opacity:1;
}
}

@keyframes flash {
  0%, 50%, 100% {
color:black;
}
  25%, 75% {
color:#5cf442;
}
}