body
{
background-image:url("https://media.istockphoto.com/photos/plain-white-sheet-of-paper-on-a-white-background-picture-id471369858?k=6&m=471369858&s=612x612&w=0&h=6vdnVyfva_AfJIQBPh0dAbCTNAAQXXNmB10q8oX5_zA=");
background-size:100% 100%;
font-family:Garamond;
letter-spacing:-1px;
font-size:30px;
text-align:left;
color:black;
padding: 90px 150px 150px 150px;
display:relative;
line-height:28px;
animation:loading 3s,hide 3.5s;
}

i
{position:absolute;
top:20px;
left:20px;
width:50px;
height:50px;
font-size:100px;
}

.fa fa-home
{font-size:100px;
width:50px;
height:50px;
}

a
{text-decoration:none;
color:white;
}

.h1
{font-size:70px;
font-family:Honeymoon Personal Use;
text-align:center;
animation:scalle 1.1s;
animation-iteration-count:1;
animation-delay:2.1s;
}

.h2
{font-size:42px;
text-align:center;
font-family:Honeymoon Personal Use;
text-decoration:underline;
}


.h3,.h3-1
{font-size:32px;
text-align:center;
text-decoration:underline;
font-family:Honeymoon Personal Use;
}

.h3-1
{
font-family:Honeymoon Personal Use;
text-decoration:none;
}

i
{color:#aaaaaa;;
}

i:hover
{color:blue;
animation:pulse 5s infinite;
}

p:hover,ul:hover,ol:hover
{color:blue;
animation:pulse 5s infinite;
animation-delay:1s;
}

.h1:hover
{color:blue;
animation:pulse 5s infinite;
animation-delay:1s;
}

.h2:hover
{color:blue;
animation:scale2 0.5s,pulse 5s infinite;
}

.h3:hover,.h3-1:hover
{color:blue;
animation:scale3 0.5s,pulse 5s infinite;
}

@keyframes scalle
{0%
{transform:scale(1);
color:black;
}15%
{transform:scale(1.2);
color:black;
}25%
{transform:scale(1.4);
color:black;
}40%
{transform:scale(1.6);
color:black;
}50%
{transform:scale(1.8);
color:black;
}65%
{transform:scale(1.6);
color:black;
}75%
{transform:scale(1.4);
color:black;
}85%
{transform:scale(1.2);
color:black;
}100%
{transform:scale(1);
color:black;
}
}

@keyframes scale2
{0%
{font-size:42px;
}
50%
{font-size:46px;
}
100%
{font-size:42px;
}
}

keyframes scale3
{0%
{font-size:32px;
}
50%
{font-size:36px;
}
100%
{font-size:32px;
}
}

@keyframes loading
{0%,99%
{background-image:url("http://freefrontend.com/assets/img/css-loaders/pure-css3-3d-flipbook-loader.gif");
background-size:500px 500px;
background-position:500px 250px;
background-repeat:no-repeat;
}
100%
{background-color:white;
}
}

@keyframes hide
{0%
{color:rgba(1,1,1,0);
visibility:hidden;
}
100%
{color:rgba(1,1,1,0);
visibility:hidden;
}
}

@keyframes pulse
{0%
{color:blue;
}
20%
{color:purple;
}
40%
{color:violet;
}
60%
{color:red;
}
80%
{color:orange;
}
100%
{color:green;
}
}