body
{animation:load 2.5s,hide 3s;
font-family:monofur;
background-color:#eeeeee;
text-align:left;
letter-spacing:-0.5px;
padding:40px 100px 100px 100px ;
border:20px #40e0d0 ridge;
}

.h1:hover
{animation:blink1 0.2s infinite;
}

.h2:hover
{animation:blink2 0.2s infinite;
}

.h3:hover
{animation:blink3 0.2s infinite;
}

.h1
{font-size:55px;
text-align:center;
color:#ff4500;
font-weight:bold;
animation:blonk 2s;
animation-delay:3s;
animation-iteration-count:1;
}

.h2
{font-size:40px;
text-align:center;
color:#ff0099;
text-decoration:underline;
font-weight:bold;
}

.h3
{font-size:35px;
text-align:center;
color:#9400d3;
font-weight:bold;
}

p,li,ul
{font-size:29px;
color:#0000ff;
}

.img2
{align:right;
position: absolute;
top:2020px;
right:100px;
}

.ihtml
{width:100%;
}

@keyframes load
{0%
{background-color:#f2f2f2;
color:rgba(1,1,1,0);
visibility:hidden;}
5%,100%{background-image:url("http://freefrontend.com/assets/img/css-loaders/daily-ui-20-css-loader.gif");
background-size:100%;
background-repeat:no-repeat;
color:rgba(1,1,1,0);
visibility:hidden;
}
}

@keyframes hide
0%{color:rgba(1,1,1,0);
visibility:hidden;
}
100%
{color:rgba(1,1,1,0);
visibility:hidden;
}
}

@keyframes blink1
{0% {color:#74ee15;}
  100% {color:#f2f2f2;}
}

@keyframes blink2
{0%
{color:#ff0099;
} 100%{color:#f2f2f2;}
}

@keyframes blink3{0%
{color:#9400d3;
}
100%
{color:#f2f2f2;
}
}

@keyframes blonk
{0%
{font-size:55px;
}
50%
{font-size:66px;
}
100%
{font-size:55px;
color:#74ee15;
}
}